#filetype=sh
alias vim="nvim"
alias p="python3 -i /home/jaca/.my_py.py"
alias p="python3 -i"
alias vi='nvim -c "let g:tty='\''$(tty)'\''"'
alias vim='nvim'
alias nvim='nvim -c "let g:tty='\''$(tty)'\''"'

alias xilinx="~/scripts/run_xilinx.sh"

	alias ls='ls --color=auto'
	alias ll='ls -la --color=auto'
	alias grep='grep --colour=auto'
	alias egrep='egrep --colour=auto'
	alias fgrep='fgrep --colour=auto'

#default manj
alias cp="cp -i"                          # confirm before overwriting something
alias df='df -h'                          # human-readable sizes
alias free='free -m'                      # show sizes in MB
#alias np='nano -w PKGBUILD'
alias more=less
alias  pyc='python -i -c "import math;import matplotlib.pyplot as plt;import numpy as np" '

alias conkyd='conky --daemonize'


##
# Git
##
alias gs='git status'
alias ga='git add'
alias gap='git add -p'
alias gb='git branch'
alias gco='git checkout'
alias gc='git commit'
alias gcae='git commit --allow-empty'
alias gll='git log --oneline'
alias glo='git log --oneline'
alias gmnff='git merge --noff'
alias gta='git tag -a'
alias gt='git tag'
alias gsh='git show'
alias gd='git diff'
alias gdc='git diff --cached'

alias glog="git log --graph --pretty=format:'%Cred%h%Creset %w(72,1,2)%s -%C(yellow)%d%Creset %Cgreen(%cr %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"


####
#common aliases , plug
####
alias zshrc='${=EDITOR} ~/.zshrc' # Quick access to the ~/.zshrc file

alias grep='grep --color'
alias sgrep='grep -R -n -H -C 5 --exclude-dir={.git,.svn,CVS} '

alias t='tail -f'

# Command line head / tail shortcuts
alias -g H='| head'
alias -g T='| tail'
alias -g G='| grep'
alias -g L="| less"
alias -g M="| most"
alias -g LL="2>&1 | less"
alias -g CA="2>&1 | cat -A"
alias -g NE="2> /dev/null"
alias -g NUL="> /dev/null 2>&1"
alias -g P="2>&1| pygmentize -l pytb"

alias dud='du -d 1 -h'
alias duf='du -sh *'
alias fd='find . -type d -name'
alias ff='find . -type f -name'

alias cls="clear"
alias activate_data="source /home/jaca/python/data_libs/bin/activate"
